spacebook/web/buildings.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!--
    DTD to define the buildings.xml file
-->
<!ELEMENT buildings (building+)>
<!ELEMENT building (name, buildingCode, rooms+)>
<!ATTLIST building id CDATA #REQUIRED>
<!ELEMENT name (#PCDATA)>
<!ELEMENT buildingCode (#PCDATA)>
<!ELEMENT rooms (number)>
<!ELEMENT number (#PCDATA)>